body {
    display: grid;
    grid-template-areas: "header header" "main aside " "footer footer";
    grid-template-columns: 80%;
    grid-template-rows: 6rem 30rem 10rem;
    grid-gap: 1rem;
}

header, main, aside, footer {
    border: 0.1rem solid black; 
    padding: 1rem;
}

#header {
    grid-area: header;
}

#main {
    grid-area: main;
}

#aside {
    grid-area: aside;
}

#footer {
    grid-area: footer;
}

.header-content-straight {
    display: grid;
    grid-template-columns: repeat(5, 1fr);   
}

div {
    padding-top: 1rem;
}

h1 {
    padding-bottom: 1rem;
}