body {
    display: grid;
    grid-template-areas: "header header" "main aside " "footer footer";
    grid-template-columns: 70% 1fr;
    grid-template-rows: 10rem 20rem 20rem;
    grid-gap: 1rem;
}

header, main, aside, footer {
    border: 0.1rem solid black; 
    padding: 1rem;
}

#header {
    grid-area: header;
}

#main {
    grid-area: main;
}

#aside {
    grid-area: aside;
}

#footer {
    grid-area: footer;
}